/.idea/Chess2018.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Board.pyc
/Figure.pyc
/View.pyc
/Exceptions.pyc
/Player.pyc
/CoordinatesToSymbols.pyc
/GIUChessField.pyc
/Player_Turn.pyc
